hostname: {{ harbor_hostname }}

# HTTP settings
http:
  port: {{ harbor_port_http }}

# HTTPS is terminated by Traefik at the edge.
# Harbor itself stays on HTTP and must advertise the public Traefik hostname.
# https:
#   port: 443
#   certificate: /your/certificate/path
#   private_key: /your/private/key/path

external_url: https://{{ harbor_hostname }}

harbor_admin_password: {{ harbor_admin_password }}
data_volume: {{ harbor_data_dir }}

database:
  password: {{ harbor_db_password }}
  max_idle_conns: 50
  max_open_conns: 100

jobservice:
  max_job_workers: 10
  job_loggers:
    - STD_OUTPUT
    - FILE
    - DB
  logger_sweeper_duration: 14

notification:
  webhook_job_max_retry: 10
  webhook_job_http_client_timeout: 3

chart:
  absolute_url: disabled

trivy:
  ignore_unfixed: false
  skip_update: false
  offline_scan: false
  security_checks: vul
  debug_mode: false

# Logging configuration
log:
  level: info
  local:
    rotate_count: 50
    rotate_size: 200M
    location: /var/log/harbor

_version: {{ harbor_version }}

proxy:
  http_proxy:
  https_proxy:
  no_proxy:
  components:
    - core
    - jobservice
    - trivy # Vulnerability scanner