services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    image: {{ jenkins_image_name }}
    container_name: jenkins
    restart: always
    user: root
    ports:
      - "{{ jenkins_http_port }}:8080"
      - "{{ jenkins_agent_port }}:50000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/var/jenkins_home
      - ./certs:/var/jenkins_certs:ro
    security_opt:
      - apparmor:unconfined
    environment:
      - JAVA_OPTS={{ jenkins_java_opts }}
      - GIT_SSL_CAINFO=/var/jenkins_certs/root_ca.crt
      - DOCKER_API_VERSION=1.44

  watchtower:
    image: containrrr/watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 86400 --cleanup
    security_opt:
      - apparmor:unconfined
    environment:
      - DOCKER_API_VERSION=1.44