# {{ ansible_managed }}
#
# Имя, которым сервер представляется в SMTP-приветствии и в заголовках, и
# break-glass учётка администратора. Второе нужно потому, что в bootstrap-режиме
# директории ещё нет: без фиксированного пароля первый вход возможен только по
# случайному паролю из логов, а плейбук логи не читает.
STALWART_HOSTNAME={{ mail_hostname }}
STALWART_RECOVERY_ADMIN={{ mail_admin_user }}:{{ mail_admin_password }}
