
# Managed by Ansible, role gitea_backup. Local edits are overwritten.
GITEA_CONTAINER={{ gitea_backup_container }}
GITEA_DB={{ gitea_backup_db_path }}
DOCKER={{ gitea_backup_docker }}
DEST_DB={{ gitea_backup_dest_db }}
DEST_FULL={{ gitea_backup_dest_full }}
KEEP_DB={{ gitea_backup_keep_db }}
KEEP_FULL={{ gitea_backup_keep_full }}
