
# Managed by Ansible, role pg_dump. Local edits are overwritten.
PG_CONTAINER={{ pg_dump_container }}
PG_SUPERUSER={{ pg_dump_superuser }}
PG_MAINT_DB={{ pg_dump_maint_db }}
DOCKER={{ pg_dump_docker }}
DEST={{ pg_dump_dest }}
KEEP={{ pg_dump_keep }}
